@charset "UTF-8";

.wrap {
	  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    padding: 25px;

}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4.login-title { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.header_wrap{

}

.nav {
	margin-top: 40px;
}

.content_wrap {
	width:100%;
	height:100%;
}

.footer {
	/*background-color: #000000;*/
	width:100%;
	height: 10%;
	color:#adadad;
}


.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

body {
	font-family: Microsoft JhengHei;
   min-width:1000px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:1000px;             /* As IE ignores !important it will set width as 1000px; */  
}

.login-status {
	position: absolute;
	top:50px;
	right:20px;
}

.dropdown {
	margin-left: 30px;
}

.dropdown-type {
    margin-top: 30px;
}

.dropdown-level {
    margin-top: 30px;
    margin-bottom: 10px;
}

.bootstrap-select {
    width: auto !important;
}

#tab-list [contenteditable] {

  border: solid 1px lightgreen;
  padding: 5px;
  border-radius: 3px;

}
 
#add_btn {
  margin-top: 30px;
}

#table_add, #return_btn, #add_row, #table_import, #table_import_confirm, #btn_import, #import_message, #project_message {
    display: none;
}   

#form_user {
  width:250px;
  margin:0 auto;
}

table thead tr {
  background: #CCE5FF;
}
#toggle_arrow {
  width:80px; 
  border:1px solid #cccccc; 
  border-top:none;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  font-size:20px;
  color: #cccccc;
  margin-top:-1px;
}
#imaginary_container{
    margin-top:30px; 
    width:200px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
#lv4-6 select{
  height:300px;
}
#lv4-6 option{
  padding:7px;
}
.nav-tabs li a{
  background-color:#CCE5FF;
}
#project_panel {
  list-style-type: none;
  border-width:2px;  
  border-style:outset;
  border-color:#aaaaaa;
  padding:20px;
  margin-top: 40px;
}

#project_panel li{
  padding:5px;
}

#project_panel button{
  width:100px;
}

#import_message {
  width:300px;
  height:200px;
  background-color: #ddd;
  color:#000;
  border-radius:8px;
  text-align: center;
  margin: 30px auto;
  font-size: 20px;
  display: table;
}

#import_message div{
  display: table-cell;
  vertical-align: middle;
}
#table_import td {
  text-align: center;
}

.tab-pane {
  margin-top: 20px;
  padding: 0 50px;
}

.tab-pane select{
  width:200px;
  height:300px;
}

.tab-pane option{
  padding:5px;
}

.btn-send {
   width:100px;
   margin-top:120px;

}

.btn-remove-4 {
   width:100px;
    margin:5px 60px;
}

.btn-remove-4s {
   width:100px;
    margin:5px 0 0 40px;
}

.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

#tab_button_group {
  list-style-type: none;
  margin-top: 40px;
  padding-left: 20px;
}
#tab_button_group button{
  width:100px;
}
#btn-add-tab{
  margin-bottom: 20px;
}

#panel_project_detail{
  display: none;
}